In [1]:
new= (1 and "True") and ('False' or Train)
str= 'This statement is '+ new
print("This is False" if "False" in new else "This is True")

This is False

In [2]:
8 + 1 % 3

9

In [3]:
x=0.0
y=48>0
z=11<7
print(not(float(x or y or z)))

False

In [4]:
"a"+"bc"

'abc'

In [5]:
print('''tom
\nsam
\nharry''')

tom

sam

harry

In [6]:
x=Str("Python is a very\b simple\bsubject")
print(x)

NameError: name 'Str' is not defined

In [7]:
x = int(43.55+4/6)
print(X)

NameError: name 'X' is not defined

In [8]:
a=4
b=6
c=3
d=2
print(a+d**b*c/a-b)

46.0

In [9]:
print(int("6" == 6.0) * 3 + 4 % 5)

4

In [10]:
    a=0
b=6
c=9
d=10

x=(a or b) and ((a or c) or (b and d))
print(x)

9

In [11]:
X = 2+9*((3*12)-8)/10
print(bool(X))

True

In [12]:
print(True * False / True)

0.0

In [13]:
x=125
y=13
x//=y
print(x)

9

In [14]:
print(bool(0), bool(3.14159), bool(-3), bool(False))

False True True False

In [15]:
a=5
b=10
c=1
print(a**c, b//a, c%a)

5 2 1

In [16]:
3**1**3/True?

In [ ]:
3**1**3/True

In [17]:
3**1**3/True

3.0

In [18]:
1 or 2

1

In [19]:
2 or 1

2

In [20]:
1 and 2

2

In [21]:
2 and 1

1

In [22]:
0 or 1

1

In [23]:
1 or 0

1

In [24]:
0 and 1

0

In [25]:
1 and 0

0

In [26]:
x = 3
if (x > 2):
    x = x * 2;
if (x > 4):
    x = 0;
print(x)

0

In [27]:
if (1, 2):
    print('foo')

foo

In [28]:
if (1, 2): print('foo')

foo

In [29]:
if (1, 2):
                print('foo')

foo

In [30]:
if (1, 2):
print('foo')

IndentationError: expected an indented block (<ipython-input-30-242b99c9b3b0>, line 2)

In [31]:
i = 1
while True:
    if i%3 == 0:
        break
    print(i)
       i + = 1

IndentationError: unexpected indent (<ipython-input-31-61a227b71a36>, line 6)

In [32]:
x = 12
for i in x:
    print(i)

TypeError: 'int' object is not iterable

In [33]:
i = 1
while True:
    if i%3 == 0:
        break
    print(i)
    i += 1

1
2

In [2]:
a = 5
b = 5
print('yes') if (a == b) else 'no'

yes